$color-primary: white;
$color-secondary: #b3b3b3;
$color-orange: #dc6f01;

$padding-default-value: 1rem;
$padding-left-value: 0.5rem;
$margin-default-value: 5rem;
$margin-mini-value: 1rem;

$font-weight-headers: 300;
$font-size-headers: 1.4rem;
$font-weight-paragraphs: 200;
$font-size-paragraphs: 0.8rem;
