@import "utils/mixins";

.navbar__container {
  @include flex-box(row, space-evenly, center);
  width: 100%;
  box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 768px) {
  .navbar__container {
    @include flex-box(row, space-between, center);
    padding: 0 0.5rem;
    height: 3rem;
    button {
      svg {
        color: orange;
        font-size: 3rem;
      }
    }
  }
}
