@import "utils/config";
@import "utils/mixins";

.main {
  @include flex-box(column, space-between, left);
  .content__header {
    margin-bottom: $margin-mini-value;
    padding: 0 $padding-left-value;
    h3 {
      font-weight: $font-weight-headers;
      font-size: $font-size-headers;
      text-transform: uppercase;
    }
    p {
      font-weight: $font-weight-paragraphs;
      font-size: $font-size-paragraphs;
      color: $color-secondary;
    }
  }
  .content__illustration {
    margin-bottom: $margin-mini-value;
  }
  .content__paragraphs {
    margin-bottom: $margin-mini-value;
    padding: 0 $padding-left-value;
    p {
      font-weight: $font-weight-paragraphs;
      font-size: $font-size-paragraphs;
      color: $color-secondary;
    }
  }
}
